# Xojo (formerly REALbasic and Real Studio)

Builds*
*.debug
*.debug.app
Debug*.exe
Debug*/Debug*.exe
Debug*/Debug*\ Libs
*.rbuistate
*.xojo_uistate
*.obsolete
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ar.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ca.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/cs.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/da.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/de.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/el.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/es.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/fr.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/he.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hr.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/hu.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/it.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ja.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ko.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/nl.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/no.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pl.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-BR.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/pt-PT.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ro.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/ru.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sk.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/sv.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/th.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/tr.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/uk.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-CN.lproj/Localizable.strings
build/OS X 64 bit/RandomThings.app/Contents/Frameworks/XojoFramework.framework/Versions/A/Resources/zh-TW.lproj/Localizable.strings
